<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <dic class="main-content">
            {{>header}}
            <img src="./img/dioooo.jpg" class="portrait">
        </dic>

        {{>footer}}
    </body>

</html>